.login-page{
    display: flex ; 
    justify-content: center ; 
    align-items: center ; 
    height: 100vh;
    text-align:center ;
}

.login-card{
    width:500px ;
    height:600px ;
    padding:15px;
}

.login-logo {
    display: block ;
    margin: 15px auto 0;
}

.login-input{
    font-size:27px;
}

.login-icon{
    padding-top:15px ;
    padding-bottom:5px;
}

.login-button{
    color:white ;
    width:250px ;
    height:50px ;
    margin-top:50px;
}