
.add-category-content{
    display:flex ;
    justify-content:center;
}

.card-add-category {
    width:500px;
    height:200px ;
    text-align:center ;
    padding:15px ;
    align-items:center;
}

.card-category-item {
    width:250px; 
    padding: 5px; 
}

.category-item-content{
    display: flex;
     padding: 5px ;
     justify-content:space-between ;
     align-items:center;
}

.category-item-icon{
     width: 60px ;
    font-size: xxx-large ;
}

.button-add-expense{
 margin-top:15px;
}
